<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.zytboa.dao.UserDao" >    
    <resultMap id="BaseResultMap" type="com.zytboa.vo.User">  
        <result column="id" property="id" jdbcType="INTEGER" />  
        <result column="name" property="name" jdbcType="VARCHAR" />  
        <result column="password" property="password" jdbcType="VARCHAR" />  
    </resultMap> 
      
    <!-- 插入用户 -->  
    <insert id="add" parameterType="com.zytboa.vo.User">  
        insert into user    
        <trim prefix="(" suffix=")" suffixOverrides="," >    
          <if test="id != null" >    
            id,    
          </if>    
          <if test="name != null" >    
            name,    
          </if>    
          <if test="password != null" >    
            password,    
          </if>    
        </trim>    
        <trim prefix="values (" suffix=")" suffixOverrides="," >    
          <if test="id != null" >    
            #{id,jdbcType=INTEGER},    
          </if>    
          <if test="name != null" >    
            #{name,jdbcType=VARCHAR},    
          </if>    
          <if test="password != null" >    
            #{password,jdbcType=VARCHAR},    
          </if>     
        </trim>     
    </insert>

    <update id="update" parameterType="com.zytboa.vo.User">
        UPDATE user SET
        <if test="name != null">
            name=#{name,jdbcType=VARCHAR},
        </if>
        <if test="password != null">
            password=#{password,jdbcType=VARCHAR},
        </if>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>
      
    <select id="getAll" resultMap="BaseResultMap">
    	select * from user
    </select>

    <select id="findById" parameterType="com.zytboa.vo.User" resultMap="BaseResultMap">
        select * FROM user where name=#{name,jdbcType=VARCHAR} AND password=#{password,jdbcType=VARCHAR};
    </select>

    <select id="findByUserId" parameterType="INTEGER" resultMap="BaseResultMap">
        select * from user where id=#{id,jdbcType=INTEGER};
    </select>
    
</mapper>  